html {
  height: 100%;
}
body {
  min-height: 100%;
  height: 100%;
}
.img-rounded{
    border-radius: 50%;
    width: 50px;
}
.wrapper{
    height: 100%;
}

div.container{
    width: 100%;
}
.dataTables_wrapper .row:nth-child(2){
    text-align: right;
}
.navbar-quizzster{
    background: #fff;
    box-shadow: 1px 1px 1px gray;
}
.navbar-quizzster-blue{
    background-color: #408eba;
    flex-grow: 1;
}
.navbar-quizzster-blue a{
    color: #fff;
}
.navbar-quizzster-darkblue,
.navbar-quizzster-dark{
    background-color: #3a80a7;
    flex-basis: 245px;
    flex-shrink: 0;
}
.navbar-quizzster-dark{
    background-color: #1a2226;
    flex-shrink: 0;
}
.navbar-quizzster-dark>ul{
    background: #1a2226;
    color: #fff;
    height: 100vh;
}
.navbar-quizzster-dark li{
    background: inherit;
    display: flex;
    justify-content: space-between;
    border-radius: 0 !important;
}
.navbar-quizzster-dark div:hover{
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
.navbar-quizzster-dark li a{
    color: #fff;
    width: 100%; 
    padding: 12px;
    display: block;
    text-decoration: none;
}

.list-child{
    background: #2c3b41;
    padding: 0;
}
.list-child li{
    display: block;
    padding: 0;
}
.nav-item i{
   color: transparent;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #fff;
   text-align: left;
}
.nav-item span{
    position: relative;
    left: -7px;
    top: -7px;
}
main#main{
    height: 100%;
}
.main-intro{
    color: #fff;
    height: 430px;
    background: #ff7500;    
}
.main-intro h2{
    font-family: "Bebas", "sans-serif";
    word-break: break-all;
}
footer{
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
}




@media screen and (max-width: 768px) {
    .adj-flex{
        flex-direction: column;
    }

    .navbar-quizzster-darkblue,
    .navbar-quizzster-blue{
        flex-grow: 1;
        flex-basis: 56px;
    }
}